##### Java #####
.class
bin/

#### IDEA intellij #####
.idea/
*.iml
*.iws

##### eclipse #####
.project
.classpath
.settings/
.externalToolBuilders/
maven-eclipse.xml

#### Netbeans #####
.nbm/
.nbm
nb-configuration.xml
foo.xml

##### Maven #####
target/
log/

##### OS X #####
.DS_Store
